DB_HOST=localhost
DB_PORT=5433
DB_USER=bitpayx
DB_PASSWORD=secret
DB_NAME=bitpayx_db
DATABASE_URL="postgresql://bitpayx:secret@localhost:5433/bitpayx_db"
SEPOLIA_RPC_URL=https://eth-sepolia.g.alchemy.com/v2/tu_api_key
CONTRACT_ADDRESS=your_contract_address
METATASK_PRIVATE_KEY=your_metatask_private_key